@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

:root{
  --font:'Lato', sans-serif;
}

body{
  margin: 0;
  
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  
  font-family: var(--font);
  color: white;
  background: #012a4a;
}

header {
  grid-area: 1 / 1 / 2 / 4;
  height: 10vh;
  width: 90%;
  justify-self: center;

  border-bottom: 1px solid #003566;

}

.container {
  grid-area: 2 / 2 / 3 / 3;

}

.project {
  background: #4895ef;
}

.project > h2 {
  padding: 1rem;
  letter-spacing: 1px;
}

/* make new todo */

.open-button {
  background-color: rgb(24, 78, 119, .8);
  font-family: var(--font);
  font-size: 1rem;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

.form-popup {
  color: #fff;
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 9;
}

.form-container {
  background-color: #4895ef;
  max-width: 300px;
  padding: 10px;
  margin-bottom: 22px;
}

.form-container input[type=text],
.form-container input[type=password],
.form-container input[type=date] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus,
 .form-container input[type=password]:focus,
 .form-container input[type=date]:focus{
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/*nav bar */

.todo-list {
  height: 0;
  position: relative;
  background: #000;
  transition: .4s;
  overflow: hidden;
  background: #4895ef;
}

.todo-list ul li a {
  display: block;
  color: #fff;
  font-size: 20px;
  transition: .5s;
}

.todo-list ul {
  display: flex;
  flex-direction: column;
  transition: .4s;
  opacity: 0;
  margin: 0;
  justify-content: center;
  padding: 1.5rem;
}

.todo-list ul li {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.todo-list ul li a.active {
  color: #fff;
  background: #000;
}


.todo-list.active {
  height: 300px;
}

.todo-list.active ul {
  opacity: 1;
}


/* popoup */

.popupBg {
  background: rgba(0, 0, 0, .4);

  width: 100%;
  height: 90svh;
  grid-area: 2 / 1 / 4 / 4;
  display: none;
}

.popupBg.active {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.popupContainer {
  width: 40%;
  background: #4895ef;
  transform: scale(0);
}

.popupContainer.active {
  transform: scale(1);
  animation: pop-out .4s;
  padding: 0 1rem 1rem 1rem;
}

.task-info {
  display: flex;
  flex-direction: column;
}

.task-info > input {
  border: none;
  background: #e3f2fd;
  font-family: var(--font);
  font-weight: bold;
  text-transform: uppercase;

  padding: 10px;
  margin-bottom: 1rem;
}

.task-info > input:focus {
  outline: none;
}

.task-info > input:read-only {
  color: #1e6091;
}

.task-info > label {
  padding-bottom: .5rem;
  letter-spacing: 1px;
}

.task-info > button {
  background: #e3f2fd;
  border: none;
  border-radius: 5px;
  margin: .2rem;
  padding: 5px;
  cursor: pointer;

  font-family: var(--font);
}

.task-info > button:hover {
  background-color: #1e6091;
  color: #fff;
}

.task-info > fieldset {
  border: none;
  padding-left: 0;
}

a, h2{
  cursor: pointer;
}

#index {
  display: none;
}

/* delete button display */

.delete-btn {
  background: url(images/cancel.svg) center;
  filter: invert(100%) sepia(6%) saturate(0%) hue-rotate(205deg) brightness(103%) contrast(102%);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
}

@keyframes pop-out {
  0% {transform: scale(0);}
  100% {transform: scale(1);}
}

@keyframes pop-in {
  0% {transform: scale(1);}
  100% {transform: scale(0);}
}



